input:invalid[focused='true'] {
    border: 1px solid red;
}
input:invalid[focused='true'] ~ span { 
    display:block;
}
select:invalid[focused='true'] {
    border: 1px solid red;
}
select:invalid[focused='true'] ~ span { 
    display:block;
}
textarea:invalid[focused='true'] {
    border: 1px solid red;
}
textarea:invalid[focused='true'] ~ span { 
    display:block;
}